.App{
  background-color:rgb(255, 255, 255);
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(245, 245, 220, 0.316);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  text-align: center;
}
button{
  margin: 1rem;
  cursor: pointer;
  padding: 0.2rem 1rem;
  font-size: 0.8rem;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(220, 208, 208, 0.485);
}
h1{
  color: rgba(0, 0, 255, 0.555);
}
p{
  font-size: 1rem;
}

.form{
  background-color:rgb(255, 255, 255);
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(245, 245, 220, 0.316);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  text-align: center;
}

input{
  padding: 4px;
  margin-top: 5px;
}